
head{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: #FF5252;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
}

.holder{
  text-align: center;
  background-color: #FF5252;
  padding: 20px;
}

.header {
  position: relative;
  width: auto;
  height: auto;
  text-align: center;
}

.headerblock{
  background-color: #000;
  opacity: 0.3;
  padding: 60px;
  width: auto;
  color: #FFF;
  position: relative;
}

.textblock{
  text-align: center;
  width: 100%;
  font-family: 'Candal', sans-serif;
  position: absolute;
  color: #FFF;
  top: 0;
}

.submitButton{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  background: #FFF;
  opacity: 0.5;
  outline: none;
  border: none;
  margin-top: 10px;
  border: 2px solid #dadada;
  -webkit-transition: opacity 2s, width 1s, border-radius 1s, height 1s, background-color 2s;
}

.submitButton:hover{
  opacity: 0.8;
  background-color: #39FF14;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}


.inputLayout{
  border-radius: 2px;
  width: 150px;
  background: #FFF;
  padding: 10px;
  color: #000;
  opacity: 0.4;
  outline: none;
  height: 20px;
  border: 0px;
  -webkit-transition: width 1s, height 1s; /* Safari */
    transition: width 1s, height 1s;
}


.fieldContainer{
  margin-top: 4px;
}

.inputLayout:focus{
  border-radius: 2px;
  width: 220px;
  opacity: 0.95;
  height:30px;
  padding: 10px;
  color: #FF0000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.formcontainer{
  z-index: 9999;
  width: inherit;
}

.innerHolder{
  width: auto;
  position: relative;
  z-index: 99;
  padding: 30px;
  text-align: center;
  color: #FFF;
}

.binaryForm{
  width: auto;
  padding: 15px;
}

.footer{
  font-weight: 300;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}
